
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white: #fcfcfa;
  --gray: #a8a8a8;
  --black: #1b191b;
  --green: #da9705;
  --pink: #f75c92;
  --blue: #4d4be0;
}

.btn {
  cursor: pointer;
  background-color: var(--pink);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn:hover {
  background-color: var(--green);
}

.icon-img {
  width: 20px;
}
